#page-container {
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem; /* footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; /* footer height */
}
