input[type=checkbox] ~ .checkbox-lg-label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #888;
    padding: 1px;
    margin-bottom: 13px;
    height: 23px;
    width: 23px;
}

input[type=checkbox]:hover ~ .checkbox-lg-label {
    background-color: rgb(202, 231, 245);
}

input[type=checkbox]:checked ~ .checkbox-lg-label {
    background-image: var(--large-checkbox-IMGpath);
    background-position-y: 1px;
    background-size: 100%;
    background-color: rgb(202, 231, 245);
}

input[type=radio] ~ .radio-lg-label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 12px;
    padding: 1px;
    margin-bottom: 13px;
    height: 23px;
    width: 23px;
}

input[type=radio]:hover ~ .radio-lg-label {
    background-color: rgb(202, 231, 245);
}

input[type=radio]:checked ~ .radio-lg-label {
    background-image: var(--large-checkbox-IMGpath);
    background-position-y: 1px;
    background-size: 100%;
    background-color: rgb(202, 231, 245);
}
