{{ define "fragments/footer.html" }}
<nav class="navbar navbar-light bg-light mt-5" id="footer">
    <a href="{{ WR }}/imprint">IMPRINT</a>
    <div class="ml-auto">
        <a href="https://gitlab.com/RememberOfLife/simpoll">Open-Source</a>
    </div>
</nav>
{{ end }}
