{{ define "fragments/list_pollcard.html" }}
    {{ $outscope := . }}
    {{ range $i, $poll := .polls }}
    <div class="card mb-3">
        <a class="card-link" href="{{ WR }}/v/{{ $poll.ID }}">
            <div class="card-header pr-3">
                <h4 class="d-inline">{{ $poll.Title }}</h4>
                &emsp;
                <h5 class="d-inline text-secondary">(total:{{ $poll.TotalVotes }})</h5>
                <form action="{{ WR }}/api/poll" method="POST" class="float-right">
                    <input type="hidden" name="pollID" value="{{ $poll.ID }}">
                    <button type="submit" name="action" value="releaseResults" class="btn-sm btn btn-outline-info{{ if $poll.ResultsPublic }} d-none{{ end }}">Publish Results</button>
                    <button type="submit" name="action" value="toggleActive" class="btn-sm btn{{ if $poll.Active }} btn-outline-warning{{ else }} btn-outline-success{{ end }}">{{ if $poll.Active }}Stop{{ else }}Start{{ end }}</button>
                    <button type="submit" name="action" value="delete" class="btn-sm btn btn-outline-danger">Delete</button>
                    <input type="hidden" name="returnPath" value="/list">
                </form>
            </div>
        </a>
        <div class="card-body py-2 px-3">
            <div class="row">
                <div class="col-lg-3">
                    <p class="card-text small text-muted mb-0">ID#{{ $poll.ID }}</p>
                    <dl class="row no-gutters mb-0">
                        <dt class="col-5 text-right pr-2">type</dt>
                        <dd class="col-7 mb-0"><code class="text-info">{{ $poll.Type }}[{{ $poll.MultiNum }}/{{ len $poll.Options }}]</code></dd>
                        <dt class="col-5 text-right pr-2">state</dt>
                        <dd class="col-7 mb-0"><code class="{{ if not $poll.Active }}text-secondary{{ end }}">{{ if $poll.Active }}active{{ else }}waiting{{ end }}</code></dd>
                        <dt class="col-5 text-right pr-2"><a class="card-link" href="{{ WR }}/r/{{ $poll.ID }}">results</a></dt>
                        <dd class="col-7 mb-0"><code class="{{ if not $poll.ResultsPublic }}text-secondary{{ end }}">{{ if $poll.ResultsPublic }}public{{ else }}hidden{{ end }}</code></dd>
                    </dl>
                </div>
                <div class="col-lg-9">
                    <p class="card-text"><b>Description: </b>{{ $poll.Description }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
