{{ define "fragments/navbar.html" }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ WR }}/">SIMPOLL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ if ne .userID "" }}
                <li class="nav-item{{ if eq .navTarget "pages/list.html" }} active{{ end }}">
                    <a class="nav-link" href="{{ WR }}/list">List</a>
                </li>
                <li class="nav-item{{ if eq .navTarget "pages/create.html" }} active{{ end }}">
                    <a class="nav-link" href="{{ WR }}/create">Create</a>
                </li>
            {{ end }}
        </ul>
        {{ if ne .userID "" }}
            <span class="navbar-text mr-4 font-italic">
                {{ .userID }}
            </span>
            <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ WR }}/logout">Logout</a>
        {{ else }}
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ WR }}/login">Login</a>
        {{ end }}
        </div>
    </nav>
{{ end }}
