{{ define "fragments/results_optionpbar.html" }}
    {{ $outscope := . }}
    {{ $resPub := .poll.ResultsPublic }}
    {{ range $i, $opt := .poll.Options }}
    <div class="mb-3">
        <h3 class="d-inline">{{ if $resPub }}{{ $i }}.{{ else }}+{{ end }}&ensp;{{ $opt.Name }}</h3>
        {{ if $resPub }}
            <b class="float-right text-muted ml-2"><h4 class="d-inline text-muted cdh-percentage" data-percentage="{{ $opt.Votes }}/{{ $outscope.poll.TotalVotes }}">&#37;&ensp;(</h4>votes: <h4 class="d-inline"><code class="text-primary">{{ $opt.Votes }}</code>)</h4></b>
            <div class="progress mt-2"><!-- this should be mt-1 but this looks better on small devices -->
                <div class="progress-bar progress-bar-striped{{ $opt.GetPBarColorClass $i }}" role="progressbar" style="width: calc({{ $opt.Votes }}/{{ $outscope.poll.TotalVotes }} * 100%)"></div>
            </div>
        {{ end }}
    </div>
    {{ end }}
{{ end }}
