{{ define "fragments/vote_checkbox.html" }}
    {{ $active := .poll.Active }}
    {{ if .dupe }}
        {{ $active = false }}
    {{ end }}
    {{ range $i, $opt := .poll.Options }}
    <div class="form-check mb-2">
        <input class="d-none" type="checkbox" name="multiOptions" value="{{ $i }}" id="pOption{{ $i }}" {{ if not $active }}disabled{{ end }}>
        {{ if $active }}
            <label class="checkbox-lg-label" for="pOption{{ $i }}"></label>
        {{ else }}
            <label class="font-weight-bold text-secondary my-0" for="pOption{{ $i }}"><h2>+</h2></label>
        {{ end }}
        <label class="form-check-label ml-2 d-inline" for="pOption{{ $i }}">
            <h3 class="d-inline">{{ $opt.Name }}</h3>
        </label>
    </div>
    {{ end }}
{{ end }}
