{{ define "pages/create.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <style>:root{--large-checkbox-IMGpath:url("{{ WR }}/res/img/check.svg");}</style><link rel="stylesheet" href="{{ WR }}/res/css/large-checkbox.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - create">
        <meta name="description" content="Create a new poll.">
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0">Create Poll</h1>
                    <h6><code class="text-muted">#---</code></h6>
                    <p>Required inputs are marked by <b class="text-danger">*</b>. Optionals by <b class="text-warning">*</b>. MultiNum is the number of options a user can select when voting, ignored for Single-Choice and defaults to 0 (i.e. unlimited) on Multi-Choice.</p>

                    <hr class="mt-1">

                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="inputTitle">Title<b class="text-danger"> *</b></label>
                                <input type="text" class="form-control" id="inputTitle" name="title" required>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputType">Choice Type<b class="text-danger"> *</b></label>
                                <select id="inputType" class="form-control" name="type" required>
                                    <option selected value="radio">Single</option>
                                    <option value="multi">Multi</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="inputMultiNum">MultiNum<b class="text-warning"> *</b></label>
                                <input type="number" class="form-control" id="inputMultiNum" min="0" name="multiNum">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Description<b class="text-warning"> *</b></label>
                            <textarea class="form-control" rows="3" id="inputDescription" name="description" maxlength="1500" style="resize: none;"></textarea>
                        </div>
                        <!-- begin options -->
                        <p class="mb-2">Options:<b class="text-danger"> *</b></p>
                        <button class="btn btn-outline-info btn-block btn-sm mb-2" type="button" id="btnAddOption">Add Option</button>
                        <div id="optionList" class="mb-3">
                            <div class="input-group mb-2" id="optionBASE" hidden>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+<b class="text-danger">*</b></div>
                                </div>
                                <input type="text" class="form-control" id="optionIBASE" name="optionsBASE" value="" required disabled>
                                <div class="input-group-append">
                                    <div class="input-group-text p-0"><button class="close px-2 pt-1 pb-2" type="button" id="optionDelBASE" data-delid="BASE" onclick="removeOption(this);"><span>&times;</span></button></div>
                                </div>
                            </div>
                            <div class="input-group mb-2" id="option0">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+<b class="text-danger">*</b></div>
                                </div>
                                <input type="text" class="form-control" id="optionI0" name="options" required>
                            </div>
                            <div class="input-group mb-2" id="option1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+<b class="text-danger">*</b></div>
                                </div>
                                <input type="text" class="form-control" id="optionI1" name="options" required>
                            </div>
                        </div>
                        <!-- end options -->
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="inputAntiDupe">Duplication Check<b class="text-danger"> *</b></label>
                                <select id="inputAntiDupe" class="form-control" name="antiDupe" required>
                                    <option value="ip" selected>IP</option>
                                    <option value="cookie">Cookie</option>
                                    <option value="none">None</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6 mb-1">
                                <div class="form-check mb-2">
                                    <input class="d-none" type="checkbox" name="startActive" value="true" id="checkStartActive" checked>
                                    <label class="checkbox-lg-label mb-1" for="checkStartActive"></label>
                                    <label class="form-check-label ml-2 d-inline" for="checkStartActive">
                                        <h6 class="d-inline">Start Active<b class="text-warning"> *</b></h6>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 mb-1">
                                <div class="form-check mb-2">
                                    <input class="d-none" type="checkbox" name="startResultsPublic" value="true" id="checkStartResultsPublic">
                                    <label class="checkbox-lg-label mb-1" for="checkStartResultsPublic"></label>
                                    <label class="form-check-label ml-2 d-inline" for="checkStartResultsPublic">
                                        <h6 class="d-inline">Start Results Public<i class="text-warning"> *</i></h6>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block font-weight-bold">CREATE</button>
                    </form>

                    <hr class="mt-3">

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
        <!-- custom js -->
        <script src="{{ WR }}/res/js/create.js"></script>
    </body>
</html>
{{ end }}
