{{ define "pages/error.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - ERROR#{{ .statusCode }}">
        <meta name="description" content="error: {{ .statusMsg }}">
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0">Error <span class="text-danger">{{ .statusCode }}</span>&ensp;&ndash;&ensp;{{ .statusMsg }}</h1>
                    <h6><code class="text-muted">ERROR#{{ .statusCode }}</code></h6>
                    <p>Something went wrong, please try again or change your inputs. If this error is persistent you could open an issue for it.</p>

                    <hr class="mt-1">

                    <p class="font-italic">{{ .errorDesc }}</p>

                    <hr class="mt-3">

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
{{ end }}
