{{ define "pages/imprint.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - imprint">
        <meta name="description" content="imprint for the service">
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0">Imprint</h1>
                    <h6><code class="text-muted">#---</code></h6>
                    {{ if .default }}
                        <p class="font-italic text-muted">No custom imprint has been set for this service yet.</p>
                    {{ end }}

                    <hr class="mt-1">

                    {{ if .default }}
                        <ul>
                            <li>Liability for all content should be inquired for by this domains whois admin contact. Restrictions may apply if this site is hosted by a subservice provided as such.</li>
                            <li>All links on this website are provided "as is", without warranties or conditions of any kind, either express or implied. There are no securities provided.</li>
                            <li>This site uses cookies for storing authentication information, and possibly for deduplication services regarding the polls.</li>
                            <li>If applicable, a poll that is voted on may result in temporary storing of an anonymised form of your IP address. This anonymised form is salted and cryptographically secured in all common manners, so retrieval of the original IP is infeasable with known methods. ("Impossible" with efficiency.)</li>
                        </ul>
                    {{ else }}
                        {{ template "imprint.html" . }}
                    {{ end }}

                    <hr class="mt-3">

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
{{ end }}
