{{ define "pages/list.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - list">
        <meta name="description" content="Current poll count in the database: {{ .count }}">
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0 d-inline">Poll List</h1>
                    <a class="btn btn-outline-success float-right mt-2" href="{{ WR }}/create">Create Poll</a>
                    <h6><code class="text-muted">count: {{ .count }}</code></h6>

                    <hr class="mt-1">

                    {{ if not .polls }}
                        <p class="font-italic">There are currently no polls saved in the database.</p>
                    {{ end }}
                    {{ template "fragments/list_pollcard.html" . }}

                    <hr class="mt-3">

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
{{ end }}
