{{ define "pages/login.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - login">
        <meta name="description" content="Administrative actions on this service are only available to authenticated users. Please login.">
    </head>
    <body id="page-container">
        
        {{ template "fragments/navbar.html" . }}

        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0">Login</h1>
                    <h6><code class="text-muted">#---</code></h6>
                    <p>Administrative actions on this service are only available to authenticated users. Please login.</p>

                    <hr class="mt-1">

                    <form action="" method="POST">
                        <div class="form-row mb-3">
                            <div class="col-lg-6">
                                <label for="usernameInput">Username:</label>
                                <input type="text" class="form-control{{ if not .valid }} is-invalid{{ end }}" id="usernameInput" name="userID" autofocus required>
                                <div class="invalid-feedback">Either your username or password were incorrect.</div>
                            </div>
                            <div class="col-lg-6">
                                <label for="passwordInput">Password:</label>
                                <input type="password" class="form-control{{ if not .valid }} is-invalid{{ end }}" id="passwordInput" name="password" required>
                                <div class="invalid-feedback">Either your username or password were incorrect.</div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block font-weight-bold" type="submit">LOGIN</button>
                    </form>

                    <hr class="mt-3">

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
{{ end }}
