{{ define "pages/results.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - {{ .poll.Title }}">
        {{ if not .poll.ResultsPublic }}
            <meta name="description" content="ID#{{ .poll.ID }}: ">
        {{ end }}
        {{ if .poll.ResultsPublic }}
            <meta name="description" content="ID#{{ .poll.ID }}: {{ .poll.TotalVotes }}V">
        {{ end }}
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0 d-inline">{{ .poll.Title }}</h1>


                    <div class="float-right mt-2">
                        {{ if ne .userID "" }}
                            <form action="{{ WR }}/api/poll" method="POST" class="d-inline">
                                <input type="hidden" name="pollID" value="{{ .poll.ID }}">
                                <button type="submit" name="action" value="releaseResults" class="btn btn-outline-info{{ if .poll.ResultsPublic }} d-none{{ end }}">Publish Results</button>
                                <button type="submit" name="action" value="toggleActive" class="btn{{ if .poll.Active }} btn-outline-warning{{ else }} btn-outline-success{{ end }}">{{ if .poll.Active }}Stop{{ else }}Start{{ end }}</button>
                                <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Delete</button>
                                <input type="hidden" name="returnPath" value="/r/{{ .poll.ID }}">
                            </form>
                        {{ end }}
                    </div>
                    
                    <h6><code class="text-muted">#{{ .id }}</code></h6>

                    <hr class="mt-1">

                    {{ template "fragments/results_optionpbar.html" . }}

                    <hr class="mt-4">

                    {{ if not .poll.ResultsPublic }}
                        <p>The results of this poll are currently <b class="text-warning">hidden</b>, options have not been sorted additionaly.</p>
                    {{ end }}

                    {{ if .poll.ResultsPublic }}
                        <h3 class="float-right text-secondary">total: <code class="text-primary h2">{{ .poll.TotalVotes }}</code></h3>
                    {{ end }}

                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
        <!-- custom js -->
        <script src="{{ WR }}/res/js/results.js"></script>
    </body>
</html>
{{ end }}
