{{ define "pages/vote.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags and bootstrap css -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ WR }}/res/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{{ WR }}/res/css/custom.css">
        <style>:root{--large-checkbox-IMGpath:url("{{ WR }}/res/img/check.svg");}</style><link rel="stylesheet" href="{{ WR }}/res/css/large-checkbox.css">
        <!-- custom head -->
        <link rel="shortcut icon" href="{{ WR }}/res/img/favicon.ico" />
        <title>simpoll</title>
        <meta name="title" content="simpoll - {{ .poll.Title }}">
        <meta name="description" content="ID#{{ .poll.ID }}: {{ .poll.Description }}">
    </head>
    <body id="page-container">
            
        {{ template "fragments/navbar.html" . }}
        
        <div class="container-fluid mt-3" id="content-wrap">

            <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-6">
                    
                    <h1 class="mb-0 d-inline">{{ .poll.Title }}</h1>
                    <div class="float-right mt-2">
                        {{ if ne .userID "" }}
                            <form action="{{ WR }}/api/poll" method="POST" class="d-inline">
                                <input type="hidden" name="pollID" value="{{ .poll.ID }}">
                                <button type="submit" name="action" value="releaseResults" class="btn btn-outline-info{{ if .poll.ResultsPublic }} d-none{{ end }}">Publish Results</button>
                                <button type="submit" name="action" value="toggleActive" class="btn{{ if .poll.Active }} btn-outline-warning{{ else }} btn-outline-success{{ end }}">{{ if .poll.Active }}Stop{{ else }}Start{{ end }}</button>
                                <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Delete</button>
                                <input type="hidden" name="returnPath" value="/v/{{ .poll.ID }}">
                            </form>
                        {{ end }}
                        <a class="btn btn-outline-info" href="{{ WR }}/r/{{ .id }}">Results</a>
                    </div>
                    <h6><code class="text-muted">#{{ .id }}</code></h6>
                    <p class="text-justify mb-2">
                        {{ .poll.Description }}
                    </p>
                    <b class="text-muted mt-0">
                        {{ .poll.GetTypeStr }}
                    </b>

                    <hr class="mt-1">

                    <div class="alert alert-warning mt-0" hidden>
                        There was an error while parsing your inputs. Please choose at least one answer.
                    </div>

                    <form class="mt-4" action="" method="POST" onsubmit="return validateVoteForm(this)" data-type="{{ .poll.Type }}" data-multinum="{{ .poll.MultiNum }}">

                        {{ if .poll.IsMulti }}
                            {{ template "fragments/vote_checkbox.html" . }}
                        {{ else }}
                            {{ template "fragments/vote_radio.html" . }}
                        {{ end }}

                        <hr>

                        {{ if .dupe }}
                            <p class="text-danger font-weight-bold">You have already voted on this poll.</p>
                        {{ else if .poll.Active }}
                            <p class="text-danger font-weight-bold" id="formValidationError"></p>
                            <button class="btn btn-block btn-success btn-lg mt-3" type="submit"><b>VOTE!</b></button>
                        {{ else }}
                            <p>This poll is <b class="text-warning">inactive</b>, voting is currently disabled.</p>
                        {{ end }}

                    </form>


                </div>

                <div class="col-xl-3">

                </div>

            </div>

        </div>

        {{ template "fragments/footer.html" . }}

        <!-- bootstrap js and jquery -->
        <script src="{{ WR }}/res/js/jquery-3.4.1.min.js"></script>
        <script src="{{ WR }}/res/js/bootstrap.bundle.min.js"></script>
        <!-- custom js -->
        <script src="{{ WR }}/res/js/vote.js"></script>
    </body>
</html>
{{ end }}
